
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

*{
    margin: 0;
    padding: 0;
    transition: 0.2s ease;
}
html{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
}
body{
  background-image: url("background.jpg");
    background-size: cover; 
    background-color: rgb(23, 0, 52);
    background-repeat: no-repeat;
      height: 100vh;
     font-family: 'Rajdhani', sans-serif;
}
section{
    padding: 220px 40px;

}
 .header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(18, 49, 142, 0.463);
}
.header ul{
    float: right;
    margin-right: 120px;
    line-height: 75px;
}
.header ul li{
  list-style: none;
  display: inline-block;
  margin:8px;
  line-height: 75px;
 
}
.header ul li a{
    color: azure;
    text-decoration: none;
    margin-right: 15px;
    font-size: 28px;
    font-family: 'Rajdhani', sans-serif;
  
}  
.header ul a:hover{
  color: rgb(254, 1, 142);
  
}
.header .logo{
    display: inline-block;
    margin-top: 23px;
    margin-left: 40px;
}
 .logo a{
    text-decoration: none;
    font-size: 33px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color: azure;
    padding: 5px;
    border-bottom:rgb(89, 60, 144);
    border-bottom-style: solid;
    border-bottom-left-radius: 25px;
    border-top: rgb(254, 1, 144);
    border-top-style: solid;
    border-top-right-radius: 27px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}
.buttons{
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 19px;
  margin-top: 30px;
}
.buttons button:hover{
 color: rgb(254, 1, 142);
}

.buttons  button {
 font-size: 17px;
 font-style: italic;
 color: azure;
 padding: 4px;
 background-color: rgba(18, 49, 142, 0.0001);
 border-style: none;
 border-radius: 8px;
 margin-right: 14px;

}
 .search_form    {
  position: fixed;
  right: 0;
  transform: scaleY(0);
}
.search_form.active{
  position: fixed;
  right: 0;
  transform: scaleY(1);
  
}

#search_input ,#search_submit{
 padding: 3px;
 border-style: solid;
 border-radius: 5px;
}
/*home start*/
.home{
   width: 700px;
   padding-top: 90px;
   margin-top: 250px;
   padding-left: 120px;

}
.home .content{
    display: flex;
    flex-direction: column;
    
}

.home h3{
    font-size: 55px;
    color: white;
    margin-bottom: 30px;

    
}
.home p{
    font-size: 25px;
    color: white;
}
        /*home finish*/
        /*hakkımda start*/
.hakkımda{
  text-align: start;
  flex-direction: column;
  display: flex;
  margin-right: auto; 
  margin-left: 25px;
  width: 900px;

}
.hakkımda h2{
  color: white;
  font-size: 40px;
  margin-bottom: 27px;
}
.hakkımda p{
  font-size: 22px;
  color: white;
}
        /*hakkımda finish*/

       /*özgeçmiş start*/
.özgeçmiş{
  width: 900px;
  margin-left: auto; 
  margin-right: 25px;
  
}

.özgeçmiş h2{
  color: white;
  font-size: 40px;
  text-align: end;
  margin-bottom: 27px;
}
.özgeçmiş p{
  text-align: end;
  color: white;
  font-size: 22px;

}
/*özgeçmiş finish*/
.footer {
    flex: 1;
    padding: 11px;
    background-color: rgba(18, 49, 142, 0.463);
    text-align: center;
    
}
.footer p{
    text-decoration: none;
    color: rgb(228, 231, 239);
    font-size: 18px;
}

.social{
    display: flex;
    justify-content: center;
    padding-bottom:  2px;
}
.social a{
  padding: 9px;
  margin: 9px;
  border-radius: 12px;
  margin-bottom: 40px;
}
  #instagram {
    background: white;
    color: rgb(201, 50, 183);
  }
  
  #linkedin  {
    background: #3535b9;
    color: white;
  }
  
  #github  {
    background: #000000;
    color: white;
  } 
  
  #gmail  {
    background: #ffffff;
    color: red;
  }